.navBer{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 97px;;
}
.navBer a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 32px;
}
.navBer a:hover{
    color: orange;
}